.login {
    height: 100vh;
    background-color: rgb(231, 231, 240);
    display: grid;
    place-items: center;

}
.login__container {
    background-color: rgb(213, 213, 230);
    padding: 100px;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
    /* border-radius: 5px; */
    text-align: center;
}
.login__container>img{
    height: 100px;
    width: 100px;
    object-fit:content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}